<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TEST_button.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TEST_button.Properties.Settings>
            <setting name="always_hide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="add_buttons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_hotkeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="button1_name" serializeAs="String">
                <value>Семён</value>
            </setting>
            <setting name="button1_number" serializeAs="String">
                <value>792911</value>
            </setting>
            <setting name="button2_name" serializeAs="String">
                <value>Андрей</value>
            </setting>
            <setting name="button2_number" serializeAs="String">
                <value>792966</value>
            </setting>
            <setting name="button3_name" serializeAs="String">
                <value>Александр</value>
            </setting>
            <setting name="button3_number" serializeAs="String">
                <value>792911</value>
            </setting>
            <setting name="button4_name" serializeAs="String">
                <value>Михаил</value>
            </setting>
            <setting name="button4_number" serializeAs="String">
                <value>792966</value>
            </setting>
            <setting name="button5_name" serializeAs="String">
                <value>Анна</value>
            </setting>
            <setting name="button5_number" serializeAs="String">
                <value>792911</value>
            </setting>
            <setting name="button6_name" serializeAs="String">
                <value>Дмитрий</value>
            </setting>
            <setting name="button6_number" serializeAs="String">
                <value>792966</value>
            </setting>
            <setting name="hotkey" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="button7_name" serializeAs="String">
                <value>Владимир</value>
            </setting>
            <setting name="button7_number" serializeAs="String">
                <value>792911</value>
            </setting>
            <setting name="button8_name" serializeAs="String">
                <value>Павел</value>
            </setting>
            <setting name="button8_number" serializeAs="String">
                <value>792966</value>
            </setting>
            <setting name="button9_name" serializeAs="String">
                <value>Галина</value>
            </setting>
            <setting name="button9_number" serializeAs="String">
                <value>792911</value>
            </setting>
            <setting name="button10_name" serializeAs="String">
                <value>Алексей</value>
            </setting>
            <setting name="button10_number" serializeAs="String">
                <value>792966</value>
            </setting>
        </TEST_button.Properties.Settings>
    </userSettings>
</configuration>